<ion-header>
    <ion-navbar>
        <drop-down-title [title]="selectedList.name">
            <ion-list>
                <ion-item *ngFor="let list of lists" (tap)="onSelect(list)" text-center>
                    {{list.name}}git
                </ion-item>
            </ion-list>
        </drop-down-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-list>
        <ion-item *ngFor="let person of selectedList.people">
            <ion-avatar item-start>
                <img [src]="person.imagePath">
            </ion-avatar>
            <h2>{{person.name}}</h2>
        </ion-item>
    </ion-list>

</ion-content>
